{% extends 'base.html.twig' %}

{% block body %}
	<h1>ABOUT US PAGE</h1>

	<article>
		<h2>Our Team</h2>
		<div class="contributors">
			{% for contributor in contributors %}
				<div class="contributor">
					<img src="{{ contributor.picture }}"/>
					<br/>
					<h3>
						{{ contributor.firstname }} 
                        {% if contributor.firstname == 'Fabien' %}
							&#x2665;
						{% endif %}
						{{ contributor.lastname }}
					</h3>
					{{ contributor.dateOfBirth | date('d-m-Y') }}

					<p>Role:
						{{ contributor.creatorOf }}</p>

					<p>{{ contributor.description }}</p>
				</div>
			{% endfor %}
		</div>
	</article>


{% endblock %}

{% block title %}
	{{parent()}}
	| Home
{% endblock %}
