{% extends 'base.html.twig' %}

{% block body %}
	<h1>Detail for ID:
		{{ wish.id }}</h1>

	<p>Title:
		{{ wish.title }}</p>
	<p>Author:
		{{ wish.author }}</p>
	<p>Is published:
		{{ wish.isPublished }}</p>
	<p>Created:
		{{ wish.dateCreated }}</p>
	<p>Description:</p>
	<p>{{ wish.dateCreated }}</p>
{% endblock %}

{% block title %}
	{{parent()}}
	| Detail
{% endblock %}
