{% extends 'base.html.twig' %}

{% block body %}
	<h1>Detail for ID:
		{{ wish.id }}</h1>

	<p>Title:
		{{ wish.title }}</p>
	<p>Author:
		{{ wish.author }}</p>
	<p>Category:
		{{ category.name }}</p>
	<p>Is published:
		{{ wish.isPublished ? 'Yes' : 'No' }}</p>
	<p>Created:
		{{ wish.dateCreated | date('d-m-Y') }}</p>
	<p>Description:</p>
	<p>{{ wish.description }}</p>
{% endblock %}

{% block title %}
	{{parent()}}
	| Detail
{% endblock %}
