<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-List{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icon.png') }}">  

        {# css #}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </head>

    <body>
        <header>
            {% block header %}
                <img class="logo" src="{{ asset('img/logo.svg') }}" alt="logo">
                <h1 class="inline">Bucket-List</h1>
            {% endblock %}
        </header>

        <menu>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
            {% block menu %}{% endblock %}
        </menu>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
                <p class="footnote">
                    @Bucket-List 
                    {{ "now"|date("Y") }}
                </p>
            {% endblock %}
        </footer>
    </body>
</html>
